
<!-- include header -->
    <%- include('include/_indexHeader')%>
<!-- /include header -->

    <main class="login-container">
        <div class="login-container">
            <div class="box-nav d-flex justify-between">
                <a href="/dashboard" class="border-shadow login-button">
                    <span class="text-gradient">Teacher <i class="fa-solid fa-user"></i></span>
                </a>
            </div>
            <div class="box-nav d-flex justify-between">
                <a href="/result" class="border-shadow login-button">
                    <span class="text-gradient ">Student <i class="fa-solid fa-user"></i></span>
                </a>
            </div>
        </div>
    </main>

<!-- include footer -->
    <%- include('include/_footer')%>
<!-- /include footer -->